.box-container{
  display: flex;
  flex-flow: column wrap;
  height: 120px;
  width: 200px;
}

.box-items {
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px 20px;
    padding: 5px;

}